<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Ads manager - Category</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:include="categories :: navcategory" ></div>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div th:include="categories :: categorysidebar"></div>
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
            <div th:fragment="content">
                <div th:if="${category.id}" th:text="${category.name} + ' ID: ' + ${category.id}"></div>
                <div th:unless="${category.id}">Create new category</div>
                <form action="#" th:action="@{/categories/{path}(path=${category.id})}" th:object="${category}" method="post">
                    <table>
                        <tr>
                            <td>Name</td>
                            <td><label><input type="text" th:value="*{name}" th:field="*{name}" /></label></td>
                        </tr>
                        <tr>
                            <td>Request ID</td>
                            <td><label><input type="text" th:value="*{request}" th:field="*{request}" /></label></td>
                        </tr>
                        <tr>
                            <td><button type="submit">Save</button></td>
                        </tr>
                    </table>
                </form>
                <div th:if="${category.id}">
                    <form action="#" th:action="@{'/categories/' + ${category.id} + '/delete'}" th:object="${category}" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </div>
                <div th:if="${#fields.hasErrors('${category.name}')}" th:errors="${category.name}"></div>
                <div th:if="${#fields.hasErrors('${category.request}')}" th:errors="${category.request}"></div>
                <div th:if="${nameError}" th:text="*{nameError}"></div>
                <div th:if="${requestError}" th:text="*{requestError}"></div>
            </div>
        </main>
    </div>
</div>
</body>
</html>