<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Ads manager - categories list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h3>Categories:</h3>
<form method="get">
    <input type="text" name="filter" placeholder="Enter category name" th:value="${filter}">
    <button type="submit">search</button>
</form>
<table>
    <tr th:each="category : ${categories}">
        <td th:text="${category.name}">Name</td>
        <td><a th:href="@{'/categories/' + ${category.id}}">edit</a></td>
    </tr>
</table>
<a href="/categories/new">Create new Category</a><br>
</body>
</html>